<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		
		<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon.png">
		<title>My Shop</title>
		<link th:href="@{/assets/extra-libs/c3/c3.min.css}" rel="stylesheet" />
		<link th:href="@{/assets/libs/chartist/dist/chartist.min.css}" rel="stylesheet" />
		<link th:href="@{/assets/extra-libs/jvector/jquery-jvectormap-2.0.2.css}" rel="stylesheet" />
		<link th:href="@{/assets/css/style.min.css}" rel="stylesheet" />
		<link th:href="@{/assets/css/tui-grid.css}" rel="stylesheet" />
		<link th:href="@{/assets/css/custom_css.css}" rel="stylesheet" />
<!-- 		<link th:href="@{/assets/scss/custom/structure/_layout.scss}" rel="stylesheet" /> -->
<!-- 		<link th:href="@{/assets/scss/custom/structure/_navbar.scss}" rel="stylesheet" /> -->
<!-- 		<link th:href="@{/assets/scss/custom/structure/_preloader.scss}" rel="stylesheet" /> -->
<!-- 		<link th:href="@{/assets/scss/custom/structure/_sidebar.scss}" rel="stylesheet" /> -->
		
		<script type="text/javascript" th:src="@{/assets/libs/jquery/dist/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
		<script type="text/javascript" th:src="@{/assets/js/app-style-switcher.js}"></script>
		<script type="text/javascript" th:src="@{/assets/js/feather.min.js}"></script>
		<script type="text/javascript" th:src="@{/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/assets/js/sidebarmenu.js}"></script>
		<script type="text/javascript" th:src="@{/assets/js/custom.min.js}"></script>
		<script type="text/javascript" th:src="@{/assets/extra-libs/c3/c3.min.js}"></script>
<!-- 		<script type="text/javascript" th:src="@{/assets/extra-libs/c3/d3.min.js}"></script> -->
<!-- 		<script type="text/javascript" th:src="@{/assets/libs/chartist/dist/chartist.min.js}"></script> -->
<!-- 		<script type="text/javascript" th:src="@{/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js}"></script> -->
		<script type="text/javascript" th:src="@{/assets/extra-libs/jvector/jquery-jvectormap-2.0.2.min.js}"></script>
		<script type="text/javascript" th:src="@{/assets/extra-libs/jvector/jquery-jvectormap-world-mill-en.js}"></script>
		<script type="text/javascript" th:src="@{/assets/js/tui-grid.js}"></script>
<!-- 		<script type="text/javascript" th:src="@{/assets/js/pages/dashboards/dashboard1.min.js}"></script> -->
	</head>
</html>