<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<style>
	@media (max-width: 991.98px) {
		.navbar-header {
			justify-content: center;
		}
		.navbar-nav {
			justify-content: center;
			width: 100%;
		}
	}
	</style>
	<header class="topbar" data-navbarbg="skin6">
		<nav class="navbar top-navbar navbar-expand-lg">
			<div class="navbar-header ms-auto" data-logobg="skin6">
				<a class="nav-toggler waves-effect waves-light d-block d-lg-none" href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
				<div class="navbar-brand">
					<a href="/">My Shop</a>
				</div>
				<a class="topbartoggler d-block d-lg-none waves-effect waves-light" href="javascript:void(0)"
					data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="ti-more"></i></a>
			</div>
			<div class="navbar-collapse collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto float-end">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="javascript:void(0)" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<img src="/assets/img/free-icon-user-159833.png" alt="user" class="rounded-circle" width="40">
							<span class="ms-2 d-none d-lg-inline-block"><span class="text-dark" id="headerUserName"></span> <i data-feather="chevron-down" class="svg-icon"></i></span>
						</a>
						<div class="dropdown-menu dropdown-menu-end dropdown-menu-right user-dd animated flipInY">
							<a class="dropdown-item" href="/logout"><i data-feather="power" class="svg-icon me-2 ms-1"></i>Logout</a>
						</div>
					</li>
				</ul>
			</div>
		</nav>
	</header>
</html>