<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/default}">

	<th:block layout:fragment="head">
		<th:block th:insert="~{fragments/head :: head}"></th:block>
	</th:block>
	<div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
		<th:block layout:fragment="header" th:insert="~{@{/fragments/header}}"></th:block>
		<th:block layout:fragment="sidebar" th:insert="~{@{/fragments/sidebar}}"></th:block>
		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row">
					<div class="col-12">
						<div class="card">
							<div class="card-body">
								<h4 class="card-title">직원 정보</h4>
									<form>
										<div class="form-body ms-3">
											<input type="hidden" id='csrfParam' th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
											<div class="row mb-3">
												<div class="col-lg-6 d-flex justify-content-center">
													<div class="img-thumbnail" style="width:210px;height:210px">
														<img src="../assets/img/noun-no-image-2999524.png" alt="image" width="200" height="200" id="employeeImg">
													</div>
												</div>
												<div class="col-lg-6" style="text-align: center;">
													<div class="img-thumbnail" style="display: inline-block;">
														<div id="employeeCodeImg" style="width:200px;"></div>
													</div>
												</div>
											</div>
											<div class="form-group mb-3 row" id="imgUploadInput" style="display:none;">
												<div class="col-md-6 row">
													<div  class="col-md-3">
														<label>사진</label>
													</div>
													<div class="col-md-9">
														<input class="form-control" type="file" id="imageFile">
													</div>
												</div>
											</div>
											<div class="form-group mb-3 row">
												<div class="col-md-6 row">
													<div  class="col-md-3">
														<label>이름</label>
													</div>
													<div class="col-md-9">
														<input type="text" class="form-control" id="name" disabled>
													</div>
												</div>
												<div class="col-6 row"> 
													<div class="col-md-3">
														<label>주민번호</label>
													</div>
													<div class="col-md-9">
														<div class="row">
															<div class="col-md-5">
																<input type="text" class="form-control" id="jumin1" maxlength="6" autocomplete="off" disabled>
															</div>
															<div class="col-md-2">
																<label>-</label>
															</div>
															<div class="col-md-5">
																<div class="input-group">
																	<input type="password" class="form-control" id="jumin2" maxlength="6" autocomplete="current-password" disabled>
																	<button type="button" data-bs-target="#checkPwd"  class="btn btn-dark" data-bs-toggle="modal"><i class="fas fa-eye"></i></button>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											
											<div class="form-group mb-3 row">
												<div class="col-6 row">
													<div class="col-md-3">
														<label>전화번호</label>
													</div>
													<div class="col-md-9">
														<input type="text" class="form-control" id="tel" disabled>
													</div>
												</div>
												<div class="col-6 row">
													<div class="col-md-3">
														<label>직원코드</label>
													</div>
													<div class="col-md-9">
														<div>
															<input type="text" class="form-control" id="employeeCode" disabled>
														</div>
													</div>
												</div>
											</div>
											
											<div class="form-group mb-3 row">
												<div class="col-6 row">
													<div class="col-md-3">
														<label>주소</label>
													</div>
													<div class="col-md-9">
														<input type="text" class="form-control" id="address" disabled>
													</div>
												</div>
												<div class="col-6 row">
													<div class="col-md-3">
														<label>계좌번호</label>
													</div>
													<div class="col-md-9">
														<div>
															<input type="text" class="form-control" id="accountNum" disabled>
														</div>
													</div>
												</div>
											</div>
											<div class="form-group mb-3 row">
												<div class="form-group mb-3 row">
													<div class="col-6 row">
														<div class="col-md-3">
															<label>비고</label>
														</div>
														<div class="col-md-9 custom-textreat-p">
															<textarea class="form-control" rows="3" id="employeeComments" disabled></textarea>
														</div>
													</div>
												</div>
											</div>
											<hr>
											<h4 class="card-title">채용 정보</h4>
											<div class="form-group mb-3 row">
												<div class="col-6 row">
													<div class="col-md-3">
														<label>입사일</label>
													</div>
													<div class="col-md-9">
														<input type="date" class="form-control" id="joinDate" disabled>
													</div>
												</div>
												<div class="col-6 row">
													<div class="col-md-3">
														<label>퇴사일</label>
													</div>
													<div class="col-md-9">
														<div>
															<input type="date" class="form-control" id="hireDate" disabled>
														</div>
													</div>
												</div>
											</div>
											<div class="form-group mb-3 row">
												<div class="col-6 row">
													<div class="col-md-3">
														<label>근무상태</label>
													</div>
													<div class="col-md-9">
														<select class='form-select mr-sm-2' id="userStatus" disabled>
															<option value="active">재직</option>
															<option value="retired">퇴사</option>
															<option value="leave">휴직</option>
														</select>
													</div>
												</div>
												<div class="col-6 row">
													<div class="col-md-3">
														<label>근무형태</label>
													</div>
													<div class="col-md-9">
														<div>
															<select class='form-select mr-sm-2' id="jobType" disabled>
																<option value="part">파트타임</option>
																<option value="full">정직원</option>
															</select>
														</div>
													</div>
												</div>
											</div>
											<div class="form-group mb-3 row">
												<div class="col-6 row">
													<div class="row">
														<label class="col-md-3">근무요일</label>
														<div class="col-md-9 ps-4 c-p-t">
															<div class="form-check form-inline">
																<input class="form-check-input" type="checkbox" id="monCheckbox" value="mon" disabled>
																<label class="form-check-label" for="monCheckbox">월</label>
															</div>
															<div class="form-check form-inline">
																<input class="form-check-input" type="checkbox" id="tueCheckbox" value="tue" disabled>
																<label class="form-check-label" for="tueCheckbox">화</label>
															</div>
															<div class="form-check form-inline">
																<input class="form-check-input" type="checkbox" id="wedCheckbox" value="wed" disabled>
																<label class="form-check-label" for="wedCheckbox">수</label>
															</div>
															<div class="form-check form-inline">
																<input class="form-check-input" type="checkbox" id="thuCheckbox" value="thu" disabled>
																<label class="form-check-label" for="thuCheckbox">목</label>
															</div>
															<div class="form-check form-inline">
																<input class="form-check-input" type="checkbox" id="friCheckbox" value="fri" disabled>
																<label class="form-check-label" for="friCheckbox">금</label>
															</div>
															<div class="form-check form-inline">
																<input class="form-check-input" type="checkbox" id="satCheckbox" value="sat" disabled>
																<label class="form-check-label" for="satCheckbox">토</label>
															</div>
															<div class="form-check form-inline">
																<input class="form-check-input" type="checkbox" id="sunCheckbox" value="sun" disabled>
																<label class="form-check-label" for="sunCheckbox">일</label>
															</div>
														</div>
													</div>
												</div>
												<div class="col-6 row">
													<div class="col-md-3">
														<label>근무시간</label>
													</div>
													<div class="col-md-9">
														<div class="row">
															<div class="col-md-5">
																<input type="time" class="form-control" id="startTime" disabled>
															</div>
															<div class="col-md-2">
																<label>~</label>
															</div>
															<div class="col-md-5">
																<input type="time" class="form-control" id="endTime" disabled>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="form-group mb-3 row">
												<div class="col-6 row">
													<div class="col-md-3">
														<select class="form-select col-md-6 mr-sm-2" id="wageType" disabled>
															<option value="time" selected>시급</option>
															<option value="year">연봉</option>
														</select>
													</div>
													<div class="col-md-8">
															<input type="number" class="form-control col-md-6" id="wage" disabled>
													</div>
												</div>
												<div class="col-md-6 row">
													<div class="col-md-3">
<!-- 														<label>근로자형태</label> -->
<!-- 													</div> -->
<!-- 													<div class="col-md-9 row"> -->
<!-- 														<div class="col-md-6"> -->
<!-- 															<select class='form-select mr-sm-2' disabled> -->
<!-- 																<option value="none">---</option> -->
<!-- 																<option value="normal">일반 근로자</option> -->
<!-- 																<option value="chodan">초단시간 근로자</option> -->
<!-- 																<option value="dan">단시간 근로자</option> -->
<!-- 																<option value="contract">계약직</option> -->
<!-- 															</select> -->
<!-- 														</div> -->
<!-- 														<div class="col-md-6 block-tag"> -->
<!-- 															<small class="badge badge-default text-bg-success" style="min-width:38px;padding-top:7px;"> -->
<!-- 																월 근로시간 60시간 이상,<br> 1개월 이상 근무시 4대보험 필수 가입 -->
<!-- 															</small> -->
<!-- 														</div> -->
													</div>
												</div>
												<div class="col-md-12 row">
													<div class="col-md-6 row">
													</div>
													<div class="col-md-6 row">
													</div>
												</div>
											</div>
											<div class="form-actions">
												<div class="text-end">
													<button type="button" class="btn btn-dark" id="goListBtn">목록</button>
													<button type="button" class="btn btn-info" id="goEditBtn">수정</button>
													<button type="button" class="btn btn-info" id="saveBtn" style="display:none;">저장</button>
													<button type="button" class="btn btn-info" id="cancelBtn" style="display:none;">취소</button>
												</div>
											</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="modal fade" id="checkPwd" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="myCenterModalLabel">비밀번호를 확인</h4>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
						</div>
						<div class="modal-body">
							<h5>비밀번호를 입력해주세요.</h5>
							<div class="mb-3">
								<label for="recipient-name" class="col-form-label">비밀번호:</label>
								<input type="password" class="form-control" id="pwd1">
							</div>
							<div class="mb-3">
								<label for="recipient-name" class="col-form-label">비밀번호 재입력:</label>
								<input type="password" class="form-control" id="pwd2">
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary" id="getJuminNum">확인</button>
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="cancelModal">취소</button>
						</div>
					</div>
				</div>
			</div>
			<th:block layout:fragment="footer" th:insert="~{@{/fragments/footer}}"></th:block>
		</div>
	</div>
	<script type="text/javascript" th:src="@{/assets/js/pages/employee_view.js}"></script>
	<script type="text/javascript" th:src="@{/assets/libs/davidshimjs-qrcodejs/qrcode.js}"></script>
</html>